/vendor/
node_modules/
npm-debug.log
yarn-error.log

app/storage/

public/storage

storage/*.key
/storage/nginx/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
docker-compose.yml
db-data